div{
	/*background:url(http://getwallpapers.com/wallpaper/full/4/8/9/73669.jpg);*/
	height:500px;
	width:500px;
	margin:auto;
	margin-top:70px;
}

h2{
	text-align:center;
	padding-top:60px;
}

body{
	color:white;
	background:black;
}

input{
	margin-left:50px;
	height:40px;
	width:400px;
	border-radius:5px;
	text-align: center;
	letter-spacing:2px;
	margin-top:20px;
	border:transparent 1px solid;

}

button{
	margin-left:50px;
    margin-top:20px;
    height:40px;
    width:400px; 
    border-radius:5px;
    background:#2E86C1;
    border:transparent 1px solid;
}


input:hover{
	border:1px blue solid;
}

button:hover{
	border:1px blue solid;
}